<%- include("../common/header") %>
<link rel="stylesheet" href="/admin/about.css">
<title>About : Blood Bank</title>
</head>
<body>
    <%- include("navbar") %>
    <h1>About</h1>
    <section class="main">
        <%- include("sidebar") %>
        <div class="main-item">
            This Website is developed as the <strong>Major Project</strong> to be submitted in the <strong>Fourth Semester</strong> at <strong>Department of Computer Science and Application , Odisha University of Technology and Research</strong>. <br> <br>
            Developed By : <strong>Suraj Kumar Sahani</strong> <br>
            Roll No.: <strong>28</strong> <br>
            Department : <strong>MCA</strong> <br>
            Semester : <strong>IV</strong> <br> <br>
            In case of any dependency issue or issues regarding running the website locallly, feel free to contact me via details provided in the footer.
        </div>
    </section>
    <%- include("../common/footer") %>
</body>
</html>