<header>
    <nav class="navbar">
        <div class="logo">Blood Bank</div>
        <ul>
            <li class="nav-item"><a href=<%= "/admin/"+ adminId %>>Home</a></li>
            <li class="nav-item"><a href=<%= "/admin/"+adminId+"/about" %>>About</a></li>
            <li class="nav-item"><a href= <%= "/admin/"+adminId+"/hospitals" %> >Hospitals</a></li>
            <li class="nav-item"><a href=<%= "/admin/"+adminId+"/camps" %>>Blood Camps</a></li>
            <li class="nav-item"><a href="/">Log Out</a></li>
        </ul>
</header>