<%- include("../common/header") %>
<link rel="stylesheet" href="/landing/about.css">

<title>About : Blood Bank</title>
</head>
<body>
    <%- include("navbar") %>
    <h1>About</h1>
    <div class="main-item">
        <div class="main-item-left">
            <img src="/images/about.jpg" alt="Random Blood Donation Image">
        </div>
        <div class="main-item-right">
            This Website is developed as the <strong>Major Project</strong> to be submitted in the <strong>Fourth Semester</strong> at <strong>Department of Computer Science and Application , Odisha University of Technology and Research</strong>. <br> <br>
            Developed By : <strong>Suraj Kumar Sahani</strong> <br>
            Roll No.: <strong>28</strong> <br>
            Department : <strong>MCA</strong> <br>
            Semester : <strong>IV</strong> <br> <br>
            In case of any dependency issue or issues regarding running the website locallly, feel free to contact me via details provided in the footer.
        </div>
    </div>
    <%- include("../common/footer") %>
</body>
</html>