<%-include("../common/header")%>
    <!-- Main -->
    <link rel="stylesheet" href="/landing/home.css">

    <title>Home : Blood Bank</title>

</head>
<body>
    <%-include("navbar")%>
    <section id="mid-section">
        <div class="mid-first">
            <div class="main-home-item">
                <img src="/images/landing.jpg" alt="Random Blood Donation Picture">
            </div>
            <div class="main-home-item">
                <div class="para-item">
                    <p>“Someone's  <span>blood saved my life</span> </p>
                    <p>and made my  <span>mom smile</span> </p>
                    <p>- was that<span> you</span>?”</p>
                    <a href="/register"><button>Donate</button></a>
                </div>
            </div>
        </div>
    </section>

    <%-include("../common/footer")%>
</body>
</html>