<%- include("../common/header") %>

<title>Hospitals : Blood Bank</title>
</head>
<body>
    <%- include("navbar") %>
    <h1>List of Hospitals</h1>
    <%- include("../common/footer") %>
</body>
</html>