<header>
    <nav class="navbar">
        <div class="logo">Blood Bank</div>
        <ul>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/hospitals">Hospitals</a></li>
            <li class="nav-item"><a href="/bloodCamps">Blood Camps</a></li>
            <li class="nav-item"><a href="/login">Log In</a></li>
        </ul>
</header>