<footer class="footer">
    <div class="social">
        <p>Reach Me At : </p>
        <a href="https://www.linkedin.com/in/suraj-kumar-sahani-53a27b227/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        <a href="mailto:surajks025@gmail.com"><i class="fa-brands fa-google fa-2x"></i></a>
        <a href="https://github.com/Surajks025"><i class="fa-brands fa-github fa-2x"></i></a>
        <a href="https://twitter.com/surajks025"><i class="fa-brands fa-twitter fa-2x"></i></a>
    </div>
    <div class="credit">
        <h3>Developed by Suraj Kumar Sahani</h3>
    </div>
</footer>