h1{
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-around;
}

table,tr,td{
    border-collapse:collapse;
}

/* SideBar */

.side-bar{
    width: 20%;
}

.side-table{
    background-color: rgba(218, 34, 34,1);
    color: white;
    width: 100%;
    border-radius: 20px;
}

.side-table td{
    padding: 10px 10px;
}

.side-table th{
    font-size: 20px;
}

.side-table a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.side-table a:hover{
    color: red;
    font-weight: bold;
}

.side-table tbody tr:hover{
    background-color : black;
}

/* Main Table */
.main-item{
    width: 60%;
    text-align: center;
}

.main-table{
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.main-table td{
    text-align: left;
}

/* Add Object Button */
.main-item button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgba(218, 34, 34,1);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

.main-item button:hover{
    background-color: black;
    font-size: 15px;
    cursor: pointer;
}